@mixin TypoHeadline1Ultra {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 7.594rem;

  line-height: 1;
}

@mixin TypoHeadline1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 5.063rem;
  line-height: 1;
}

@mixin TypoHeadline2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;

  font-size: 3.375rem;
  line-height: 1.2;
}

@mixin TypoHeadline3 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
}

@mixin TypoSubHeadline {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

@mixin TypoCTA {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}

@mixin TypoBody {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

@mixin TypoSmall {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.6rem;
}

.typo__h1-ultra {
  @include TypoHeadline1Ultra;
}
.typo__h1 {
  @include TypoHeadline1;
}
.typo__h2 {
  @include TypoHeadline2;
}
.typo__h3 {
  @include TypoHeadline3;
}
.typo__subheadline {
  @include TypoSubHeadline;
}
.typo__cta {
  @include TypoCTA;
}
.typo__body {
  @include TypoBody;
}
.typo__caption {
  @include TypoSmall;
}
